extends layout

block content
  .timeline
    .followings.half
      h2 북마크 목록
      if user.Followings
        for following in user.Followings
          div= following.nick
    .followers.half
      h2 좋아요 목록
      if user.Followers
        for follower in user.Followers
          div= follower.nick
